<%= form_with model: [:users, @article] do |f| %>
	<%# render "users/shared/error_messages", resource: resource %>
	<div class="field">
		<%= f.label :title, class:"offset-md-2"%><br />
		<%= f.text_field :title, autofocus: true, autocomplete: "title", class:"col-md-8 offset-md-2" %>
	</div>

	<div class="field">
		<%= f.label :content, class:"offset-md-2" %><br />
		<%= f.text_area :content, autofocus: true, class:"col-md-8 offset-md-2" %>
	</div>

	<div class="field">
		<%= f.label :image, class:"offset-md-2" %>
		<%= f.file_field :image, class:"col-md-8 offset-md-2"  %>
	</div>

	<div class="actions text-center m-4">
		<%= f.submit btn_text, class: "btn btn-primary" %>
	</div>

	<div class="offset-md-2">
		<%= link_to "戻る", :back %>
	</div>
<% end %>
